{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<br>
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h4 class="alert-heading">Well Done !!</h4>
   <p>An email has been sent to your mail with the instructions to reset your password. <b>Check your email now!</b> </p>
  </div>
 </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock main-content %}
